.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(6, 3, 9, 0.079) rgba(66, 61, 75, 0.25)
    rgba(36, 36, 37, 0.35) rgba(135, 131, 154, 0.5);
  box-sizing: border-box;
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
