.reviewCard {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--inputs);
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  flex-shrink: 0;
}

.reviewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviewHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  font-weight: bold;
  margin: 0;
}

.stars {
  display: flex;
  gap: 4px;
}

.comment {
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 44px;
}
