.mainContainer {
  text-align: center;
  margin-top: 40px;
}

.title {
  color: var(--main);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
}

.goBackBtn {
  margin-top: 20px;
  padding: 16px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 200px;
  border: none;
  background-color: var(--button);
  color: #fff;
  transition: background-color 0.3s, transform 0.2s;
}

.goBackBtn:hover {
  background-color: var(--button-hover);
  transform: scale(1.05);
}
